.hover-shrink {
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  transition-duration: .3s;
  transition-property: transform;
  &:hover {
    -ms-transform: scale(.9);
    transform: scale(.9);
  }
}