/*Header nav */

nav {
  //transition: padding 1s cubic-bezier(.25,.8,.25,1),background-color .3s cubic-bezier(.25,.8,.25,1),box-shadow .6s;
  border-color: transparent;
  padding:30px 2em 20px 1em !important;
  box-shadow: 0 8px 25px rgba(0,0,0,0.06);
  -webkit-box-shadow: 0 8px 25px rgba(0,0,0,0.06);
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: all 300ms ease-in-out 0s;
  &:not(.scrolled){
    background-color: rgba(255,255,255,0);
    a {
      color: $brand-body-color;
    }
  }
  &.scrolled {
    background-color: #fff !important;
    -moz-transform: translateY(-10%);
    -webkit-transform: translateY(-10%);
    transform: translateY(-30%);
    position: fixed;
    z-index: 999;
    width: 100%;
    padding-top:30px;
    a {
      color:$brand-body-color;
    }
  }
  .collapse {
    @media (min-width:1024px) {
      float:right;
    }
    .navbar-nav {
      .nav-item {
        a {
          color: $brand-black;
          position:relative;
          &:after {
            content: '';
            display: block;
            height: 5px;
            position: absolute;
            left: 0.5em;
            right: 0.5em;
            bottom: -5px;
            -webkit-transform: scaleX(0);
            -ms-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transform-origin: 0 50%;
            -ms-transform-origin: 0 50%;
            transform-origin: 0 50%;
            -webkit-transition: -webkit-transform .3s cubic-bezier(.86,0,.07,1);
            transition: -webkit-transform .3s cubic-bezier(.86,0,.07,1);
            -o-transition: transform .3s cubic-bezier(.86,0,.07,1);
            transition: transform .3s cubic-bezier(.86,0,.07,1);
            transition: transform .3s cubic-bezier(.86,0,.07,1),-webkit-transform .3s cubic-bezier(.86,0,.07,1);
          }
        }
        .nuxt-link-exact-active {
          &:after {
            background-color: $brand-red;
            -webkit-transform: none !important;
            -ms-transform: none !important;
            transform: none !important;
          }
        }
        &:hover, &:focus, &:active {
          a {
            &:after {
              -webkit-transform: scaleX(1);
              -ms-transform: scaleX(1);
              transform: scaleX(1);
              background-color: $brand-grey;
            }
          }
        }
      }
    }
  }
}

