.post {
  padding:0 ;
  display:block;
  margin:20px 0;
  .image-post {
    display:block;
    height:150px;
    background: no-repeat center;
    background-size:90%;
    margin-bottom:10px;
    width:100%;
  }
  .content {
    padding:1.4em;
    h4 {
      font-size:1.6em;
    }
    .add-info {
      color: $brand-body-color;
      text-transform: uppercase;
    }
  }
}

article {
  margin: 40px auto;
  h2, h3, p, pre, span, ul li {
    text-align:left;
  }
  img {
    max-width:100%;
  }
}

.page-blog {
  h1 {
    padding-top:16px;
  }
  .post {
    min-height:350px;
    .image-post {
      height:200px;
    }
  }
}