.container-skills {
  background: url('/img/bg-skills.png') 50% no-repeat;
  height: 900px;
  text-align: left;
  .skills-icons {
    display: block !important;
    z-index: 10;
    -webkit-animation: rotateAvatars 150s linear infinite;
    animation: rotateAvatars 150s linear infinite;
    left: 0;
    top: 0;
    position: absolute;
    width: 641px;
    height: 607px;
    &:hover, &:hover .testimonial-avatar {
      -webkit-animation-play-state: paused;
      animation-play-state: paused
    }
    @media screen and (min-width:769px) {
        display: none;
    }
  }
}



@media screen and (min-width:1300px) {
  .home .testimonials .avatars {
    width: 711px;
    height: 677px
  }
}

@-webkit-keyframes rotateAvatars {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes rotateAvatars {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

.testimonial-avatar {
  position: absolute;
  width: 70px;
  height: 70px;
  -webkit-animation: reverseRotateSingleAvatar 150s linear infinite;
  animation: reverseRotateSingleAvatar 150s linear infinite;
  &:hover {
    -webkit-animation-play-state: pause;
    animation-play-state: pause;
    z-index: 100;
    img {
      box-shadow: 0 0 0 4px #fbfbfb, 0 0 0 6px rgba(0, 0, 0, .1), 0 0 0 10px #fbfbfb, 0 0 0 12px rgba(0, 0, 0, .1)
    }
    .testimony {
      display: block
    }
  }
}

@-webkit-keyframes reverseRotateSingleAvatar {
  to {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg)
  }
}

@keyframes reverseRotateSingleAvatar {
  to {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg)
  }
}

#testimonial-1 {
  left: 23px;
  top: 360px
}

#testimonial-2 {
  left: 84px;
  top: 110px
}

.home #testimonial-3 {
  top: 0;
  left: 330px
}

.home #testimonial-4 {
  left: 605px;
  top: 190px
}

.home #testimonial-5 {
  top: 561px;
  left: 482px
}

.home #testimonial-6 {
  left: 200px;
  top: 487px
}

.home #testimonial-7 {
  left: 522px;
  top: 400px
}

.home #testimonial-8 {
  top: 237px;
  left: 193px
}

.home #testimonial-9 {
  top: 201px;
  left: 427px
}

.testimonial-avatar .testimony {
  background: #fff;
  width: 320px;
  top: 0;
  left: 100%;
  position: absolute;
  color: #4d545d;
  border: none;
  box-shadow: 5px 6px 5px rgba(51, 51, 51, .02);
  display: none;
  &:after {
    content: '';
    border-right: 10px solid #fff;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    position: absolute;
    top: 25px;
    left: -10px;
    width: 0;
    display: block
  }
}

.testimonial-avatar .testimony .name {
  color: #111;
  font-weight: 700;
  display: block;
  text-transform: uppercase
}

.home .testimonial-avatar .testimony .job {
  color: #00b1b3;
  font-size: .9em
}

