.margin-top-40 {
  margin-top:40px;
}


.row-pb-md {
  padding-bottom: 4em!important;
}
.row-pb-sm {
  padding-bottom: 2em!important;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.col-padding {
  padding:6px !important;
  margin: 0px !important;
}