@import 'mixins';
@import 'variables';
@import "buttons";
@import "menu";
@import "portfolio";
@import "effects";
@import "spacing";
@import "timeline";
@import "services";
@import "cta";



/* =======================================================
*
* 	Template Style
*
* ======================================================= */

body {
	font-family: $font-primary;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: darken($brand-white,70%);
	background: #fff;
}
@media (min-width: 1200px) {
	.container {
		width: 1200px !important;
		max-width: 100%;
	}
}
#page {
	position: relative;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	@include transition(.5s);
	.offcanvas & {
		overflow: hidden;
		position: absolute;

		&:after {
			@include transition(2s);
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 101;
			background: rgba(0,0,0,.7);
			content: "";
		}
	}
}
a {
	color: $brand-primary;
	@include transition(.5s);
	&:hover, &:active, &:focus {
		color: $brand-primary;
		outline: none;
		text-decoration: none;
	}
}
p {
	margin-bottom: 30px;
}

h1, h2, h3, h4, h5, h6, figure {
	//color: $brand-black;
	font-family: $font-primary !important;
	font-weight: 600;
	margin: 0 0 20px 0;
}
::-webkit-selection {
  color: $brand-white;
  background: $brand-primary;
}

::-moz-selection {
  color: $brand-white;
  background: $brand-primary;
}
::selection {
  color: $brand-white;
  background: $brand-primary;
}



section {
	padding: 5em 0;
	clear: both;
	background-color: #ffffff;
	@media screen and (max-width: 768px) {
		padding: 3em 0;
	}
	&.intro {
		padding:1em 2em;
	}
	&.grey-gradient-tb {
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…dpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
		background-size: 100%;
		background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #f6f6f6),color-stop(100%, #ffffff));
		background-image: -moz-linear-gradient(bottom, #f6f6f6 0%,#ffffff 100%);
		background-image: -webkit-linear-gradient(bottom, #f6f6f6 0%,#ffffff 100%);
		background-image: linear-gradient(to top, #f6f6f6 0%,#ffffff 100%);
	}
	&.grey-gradient-bt {
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…dpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
		background-size: 100%;
		background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6f6f6),color-stop(100%, #ffffff));
		background-image: -moz-linear-gradient(top, #f6f6f6 0%,#ffffff 100%);
		background-image: -webkit-linear-gradient(top, #f6f6f6 0%,#ffffff 100%);
		background-image: linear-gradient(to bottom, #f6f6f6 0%,#ffffff 100%);
	}
}


/*
** DIFFERENT SECTIONS
 */

.info{
	margin: 0;
	padding: 0;
	width: 90%;
	float: left;
	@media screen and (max-width: 768px) {
		margin-bottom: 3em;
	}
	li{
		width: 100%;
		float: left;
		list-style: none;
		padding: 10px 0;
		&:first-child{
			padding-top: 0;
		}
		.first-block{
			width: 40%;
			display: inline-block;
			float: left;
			color: $brand-black;
			font-weight: bold;
		}
		.second-block{
			width: 60%;
			display: inline-block;
			color: rgba($brand-black,.5);
		}
	}
}

.social-icons {
	margin: 0;
	padding: 0;
	li {
		margin-right: 3%;
		padding: 0;
		list-style: none;
		@include inline-block;
		a {
			@include inline-block;
			color: $brand-primary;
			background: $brand-white;
			padding: 10px;
			@include border-radius(50%);
			i {
				font-size: 1.4em;
				width: 1.4em;
				text-align: center;
				line-height: 1.4em;
			}
		}
	}
}

#about-me, footer{
	.social-icons {
		cursor: pointer;
		outline:0;
		margin: 0;
		padding: 0;
		li {
			padding: 0;
			list-style: none;
			@include inline-block;
			a {
				@include inline-block;
				color: $brand-white;
				background: $brand-primary;
				padding: 10px;
				@include border-radius(50%);
				&:hover{
					background: $brand-primary;
				}
			}
		}
	}
}


.label {
	font-size: .875rem;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	color: $brand-red;
}

footer {
	padding: 50px;
}


.animate-box {
	.js & {
		opacity: 0;
	}
}